/* Professional Stylesheet for TaskStep */
/* Created by Loco 2006 */

body{
	font-family:Helvetica;
}

#container{
	width:800px;
	margin:0 auto;
}

#container *{
	margin: 5px;
}


#footer{
	padding: 2em 0px;
	font-size: .7em;
	text-align: center;
	color: rgb(102, 97, 97);
	clear: both;
}

/* Header */

#headernav a.navbar-brand{
	color:white;
	padding: 7px;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button.btn.d-md-none.my-2.ms-3 {
    width: auto;
}

#headernav{
	background-color:#516878;
	padding: 7px;
}

#date-today{
	position:relative;
	top:-1.2em;
	left:400px;
	font-size:10pt;
}

#headernav ul{
	margin:0;
	padding:0;
	display: flex;
	justify-content: space-around;
}

#headernav ul li{
	display:inline;
	margin-left:14px;
	list-style-type:none;
	font-size:10pt;
}

#headernav ul li a{
	color: white;
	text-decoration:none;
}

#headernav ul li a img{
	vertical-align:-2px;
}

#headernav ul li a:hover {
	text-decoration:none;
	font-weight: bolder;
	background-color: #6187a1;
}

#adminbox{
	float:right;
	background-color:#ddf;
	padding:2px;
	margin:2px;
	color:#33d;
	font-size:9pt;
	text-align:right;
	line-height:1.6em;
}

#adminbox a{
	color:#33d;
	text-decoration:none;
}

#adminbox img{
	vertical-align:middle;
}

/* Sidebar */

#sidebar{
	border-right:1px dotted #ccc;
	width:190px;
	float: left;
}

#sidebar ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

#sidebar ul li a{
	padding:1em 25px;
	border-bottom:1px dotted #ccc;
	background-image: url(images/add.png);
	background-repeat: no-repeat;
	background-position: 0.2em 1em;
	display:block;
	color:#000;
	text-decoration:none;
	font-size:10pt;
}

#sidebar a.ideas{
	background-image: url(images/lightbulb.png);
}

#sidebar a.tobuy{
	background-image: url(images/cart.png);
}

#sidebar a.immediate{
	background-image: url(images/lightning.png);
}

#sidebar a.week{
	background-image: url(images/newspaper.png);
}

#sidebar a.month{
	background-image: url(images/calendar.png);
}

#sidebar a.year{
	background-image: url(images/world.png);
}

#sidebar a.lifetime{
	border:none;
	background-image: url(images/pro/user_gray.png);
}

#sidebar ul li a:hover{
	background-color:#e8eef3;
}

.noundone{
	color:red;
	font-size:8pt;
}

.nodone{
	color:green;
	font-size:8pt;
}
/* Off Screen Canvas */
.btn-close {
	filter: invert(1) grayscale(100%) brightness(200%);
  }

button.btn.d-md-none.my-2.ms-3 {
    width: auto;
	color: white;
	background-color: #516878;
}

div#offcanvasSidebar{
	background-color:#516878;
	border: dotted rgba(255, 255, 255, 0.795) 1px;
	color: white;
}

div.offcanvas-body ul.nav.flex-column li.nav-item{
	padding:1em 25px;
	border-bottom:3px solid #ccc;
	background-image: url(images/add.png);
	background-repeat: no-repeat;
	background-position: 0% 50% ;
	background-size: 10%;
	display:block;
}

div.offcanvas-body ul.nav.flex-column li.nav-item a.nav-link{
	color:#fff;
	text-decoration:none;
	font-size:15pt;
}

div.offcanvas-body ul.nav.flex-column li.nav-item:hover{
	background-color: #6b7b86;
	color: #000;
}

div.offcanvas-body ul.nav.flex-column li.nav-item.ideas{
	background-image: url(images/lightbulb.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.tobuy{
	background-image: url(images/cart.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.immediate{
	background-image: url(images/lightning.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.week{
	background-image: url(images/newspaper.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.month{
	background-image: url(images/calendar.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.year{
	background-image: url(images/world.png);
}

div.offcanvas-body ul.nav.flex-column li.nav-item.lifetime{
	border:none;
	background-image: url(images/user.png);
}

/* Content */

#sectiontitle{
	display:block;
	font-size: .75em;
}

#content{
	font-size:10pt;
}

#content a{
	color:#000;
}

.current{
	padding:5px;
	background-color:#ffa;
	margin-bottom:10px;
}

.old{
	font-size: larger;
	padding:5px;
	background-color:#fcc;
	margin-bottom:10px;
}

.np{
	font-size: larger;
	padding:5px;
	margin-bottom:10px;
}

a img{
	border:0;
}

.actionicon{
	padding-left:2px;
}

a.actionicon {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: #88959e;
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-radius: 4px;
  }
  
  a.actionicon img {
	vertical-align: middle;
	margin-right: 5px;
  }

  a.actionicon:hover {
	background-color: #ffffff;
	color: #000;
	font-weight: bolder;
  }

#deleted{
	background-color:#eee;
	padding:5px;
}

#updated{
	background-color:#cfc;
	padding:5px;
	margin-bottom:10px;
}

.error{
	background-color:#fcc;
	padding:5px;
}

.listlinkstyle a{
	text-decoration:none;
}

.printer{
	float:right;
	position:relative;
	top:3px;
}

.printer a{
	text-decoration:none;
}

.listlinkssmart {
	display:block;
	padding:3px;
	border-top:1px dotted #ccc;
	font-size: 15px;
  	margin: 5px;
}

.action-links a.action-icon {
	display: inline-flex;
	align-items: center;
	margin-right: 1em;
	padding: 0.4em 0.6em;
	text-decoration: none;
	color: #333;
	background-color: #f0f0f0;
	border-radius: 4px;
	font-size: 0.9rem;
  }
  
  .action-links a img {
	margin-right: 0.4em;
	height: 16px;
	width: 16px;
  }
  
  .action-links a.action-icon:hover {
	background-color: #dbe9ff;
  }
  
  .edit-link {
	background-color: #e7f5ff;
  }
  
  .delete-link {
	background-color: #ffe7e7;
	color: #a00;
  }
  
  .delete-link:hover {
	background-color: #ffc5c5;
  }
  

#editlist a:hover{
	background-color:#e8eef3;
}

.inform{
	background-color:#ddf;
	padding:5px;
	margin-bottom:10px;
}

.purgebutton{
	background-color:#f3f3f3;
	border:1px solid #ddd;
	padding:5px;
	margin-top:3px;
}

.purgebutton img{
	vertical-align:-2px;
}

.purgebutton a{
	text-decoration:none;
}

.updatenewbutton{
	background-color:#cfc;
	border:1px solid #0c0;
	padding:5px;
	margin-top:3px;
}

.updatenewbutton img{
	vertical-align:-2px;
}

.updatenewbutton a{
	text-decoration:none;
}

.breaker{
	width:550px;
	border-top:1px solid #ccc;
	margin-top:10px;
}

.settingssection h2{
	padding:0;
	margin:5px 0;
}

.necessary{
	border:1px solid #f00;
}

.marked{
	color:#f00;
}

#passwordsettings form input{
	margin:5px 0;
}

.sortform{
	padding-bottom:5px;
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}

/* Index page */

#immediateblock{
	background-color:#ffa;
	padding:5px;
}

#immediateblock *{
	margin: 5px;
}

.valign{
	vertical-align:middle;
}

h2{
	padding:0;
	margin:0 0 4px 0;
	font-size:10pt;
	font-family:Helvetica;
	color:#000;
}

#tipsbox{
	width:255px;
	background-color:#ddf;
	padding:5px;
	margin:10px 0 0 0;
	color:#33d;
	font-size:9pt;
	line-height:1.6em;
}

#tipsbox a{
	color:#33d;
	text-decoration:none;
}

#tipsbox img{
	vertical-align:middle;
}

#bookmarklet{
	float:right;
	width:210px;
	background-color:#f3f3f3;
	border:1px solid #ddd;
	padding:5px;
	margin:10px 0 0 0;
	color:#000;
	font-size:9pt;
	line-height:1.6em;
}

#bookmarklet a{
	color:#000;
	text-decoration:none;
}

#bookmarklet img{
	vertical-align:middle;
}

#welcomebox{
	background-color:#cfc;
	padding:5px;
	text-align:justify;
}

/* Login box */

#loginbox{
	margin:100px auto 0px auto;
	width:300px;
	background-color:#f3f3f3;
	border:1px solid #ddd;
	padding:20px;
	color:#555;
}

#loginbox h1{
	margin:0;
	padding:0;
	font-family:Helvetica, sans-serif;
	font-size:16pt;
}

#loginbox h1 img{
	vertical-align:middle;
}

#loginbox p{
	text-align:center;
}

#loginbox p a{
	color:#555;
}

.securityinfo{
	font-size:8pt;
	padding:0;
	margin:0;
	color:#bbb;
	float:right;
	display:none;
}